D:\Education\C#\Base project\bin
D:\Education\C#\Base project\obj
D:\Education\C#\Conditional project\bin
D:\Education\C#\Conditional project\obj
D:\Education\C#\Div project\bin
D:\Education\C#\Div project\obj